@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  border-radius: 6px !important;
  padding: 4px !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background-color: #10b981 !important; /* Emerald color */
  color: white !important;
}